:root {
    --white_color: #FFF;
    --hover_color: #FF6C00;
    --gray_color: #555;
    --gray_color_2: #9DA4BD;
    --black_color: #303030;
}


html {
    font-family: 'Open Sans' !important;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.36px;
}



.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; 
}

.header {
    margin-bottom: 163px;
}

.container-header {
    margin-top: 30px;
    display: flex;
    position: relative;
}

.container-header::before {
    content: "";
    width: 1073px;
    height: 672px;
    position: absolute;
    top: -7.7%;
    right: 0;
    background-image: url('../img/hero_bg.jpg');
    background-size: contain;
    z-index: -1;
}

/* SIDEBAR */

.sidebar-header {
    min-height: 608px;
    margin-bottom: 33px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}

.sidebar-header-text {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    writing-mode: vertical-rl;
    column-gap: 40px;
}

.sidebar-line {
    width: 0.957px;
    height: 60px;
    transform: rotate(0.173deg);
    background: var(--black_color);
}

.sidebar-item {
    transform: rotate(180deg);
    color: var(--black_color);
    font-family: 'Open Sans';
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
}

.sidebar-item:hover {
    color: var(--hover_color);
    transition: all linear .1s;
}

/* HEADER */

.container-header-inner {
    margin-left: 100px;
    height: 55px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav-ul {
    display: flex;
    column-gap: 40px;
}

.nav-ul-item {
    font-family: 'Open Sans',;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
}

.nav-ul-item > a{
    text-decoration: none;
    color: var(--white_color);
}
.nav-ul-item > a:hover {
    color: var(--hover_color);
    transition: all linear .1s;
}

.header-inner-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
    column-gap: 42px;
}

.header-inner-contact-link {
    color: var(--white_color);
    font-family: 'Open Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.header-inner-contact-btn {
    text-transform: uppercase;
    border-radius: 25px;
    padding: 12px 20px;
    background-color: transparent;
    border: 1px solid var(--hover_color);

    color: var(--white_color);
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;
}
.header-inner-contact-btn:hover {
    background-color: var(--hover_color);
    transition: all linear .2s;
}

/* SECTION: HERO */

.section-hero {
    margin-top: 208px;
}

.section-hero-subtitle {
    position: relative;
    margin-left: 84px;
    color: var(--gray_color_2);
    font-family: 'Open Sans';
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}
.section-hero-subtitle::before {
    content: "";
    width: 63px;
    height: 1px;
    position: absolute;
    left: -22%;
    top: 50%;
    background: var(--gray_color_2);
    display: inline-block;
}

.section-hero-title {
    margin-top: 20px;
    color: var(--white_color);
    font-family: 'Raleway';
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;
}

.section-hero-text {
    margin-top: 20px;
    color: var(--gray_color_2);
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.36px;
}


/* SECTION: ABOUT US */

.section-about {
    margin-bottom: 89px;
}

.section-about-container {
    display: flex;
    column-gap: 64px;
}

.section-about-img {
    display: flex;
    column-gap: 30px;
}

.section-about-span {
    position: relative;
    margin-left: 80px;
}
.section-about-span::before {
    content: '';
    width: 60px;
    height: 1px;
    position: absolute;
    top: 50%;
    right: 131%;
    background-color: var(--black_color);
}

.section-about-title {
    margin-top: 19px;
    color: var(--black_color);
    font-family: Raleway;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
}

.section-about-subtitle {
    margin-top: 19px;
    color: var(--gray_color);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.section-about-p {
    margin-top: 19px;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
}

.section-about-btn {
    margin-top: 39px;
    text-transform: uppercase;
    border-radius: 25px;
    padding: 12px 20px;
    background-color: transparent;
    border: 1px solid var(--hover_color);

    color: var(--black_color);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;
}
.section-about-btn:hover {
    color: var(--white_color);
    background-color: var(--hover_color);
    transition: all linear .2s;
}


/* SECTION: SERVICES */

.section-services {
    background-color: #111319;
    background-image: url('../img/services_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.section-services-container {
    display: flex;
    flex-direction: column;
    padding: 130px 0;
}
.section-services-span {
    position: relative;
    margin-left: 80px;
    margin-bottom: 20px;
    color: var(--gray_color_2);
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}
.section-services-span::before {
    content: '';
    width: 60px;
    height: 1px;
    position: absolute;
    left: -7.5%;
    top: 50%;
    background-color: var(--gray_color_2);
}

.section-services-title {
    margin-top: 20px;
    margin-bottom: 44px;
    color: var(--white_color);
    font-family: 'Raleway';
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
}
.section-services-blocks {
    display: flex;
}
.services-blocks-item {
    display: flex;
    justify-content: space-between;
    width: 585px;
    height: 240px;
    padding: 30px 40px;
}

.services-blocks-item.first {
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.20) 100%);
}
.services-blocks-item.second {
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.20) 100%);
}


.services-blocks-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;

    color: var(--gray_color_2);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.36px;
}
.services-blocks-list-service {
    color: var(--gray_color_2);
}
.services-blocks-list-price {
    text-align: right;
}

.section-services-btn {
    margin: 50px auto 0 auto;
    text-transform: uppercase;
    border-radius: 25px;
    padding: 12px 20px;
    background-color: transparent;
    border: 1px solid var(--hover_color);

    color: var(--white_color);
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;
}
.section-services-btn:hover {
    background-color: var(--hover_color);
    transition: all linear .2s;
}

/* SECTION: WHY US 11 */

.section-why_us-container {
    padding: 143px 0 137px 0;
    display: flex;
    column-gap: 130px;
    color: var(--black_color);
}
.why_us-blocks {
    width: 370px;
    height: 331px;
    display: flex;
    column-gap: 30px;
}

.why_us-blocks-inner {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.why_us-blocks-inner.first {
    justify-content: start;
}

.why_us-blocks-inner.second {
    justify-content: end;
}

.why_us-blocks-item {
    width: 170px;
    height: 133px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F7F7F7;
}
.why_us-blocks-title {
    position: relative;
    margin-bottom: 6px;

    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
}
.why_us-blocks-title::before {
    content: '+';
    position: absolute;
    bottom: 50%;
    right: -20%;

    color: #FF6C00;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.why_us-blocks-subtitle {
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.why_us-text-span {
    margin-left: 80px;
    position: relative;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}
.why_us-text-span::before {
    content: '';
    width: 60px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: -37%;
    background: var(--black_color);
}

.why_us-text-title {
    margin-top: 20px;
    font-family: 'Raleway';
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
}

.why_us-text-p {
    margin-top: 20px;
    color: var(--gray_color);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.36px;
}

/* SECTION: MASTERS */

.section-masters {
    background-color: #F7F7F7;
}

.section-masters-container {
    padding: 130px 0;
}

.section-masters-span {
    position: relative;
    margin-left: 80px;
    color: var(--black_color);
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}
.section-masters-span::before {
    content: '';
    width: 60px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: -28%;
    background-color: var(--black_color);
}

.section-masters-title {
    margin-top: 20px;
    margin-bottom: 44px;
    color: var(--black_color);
    font-family: 'Raleway';
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
}

.section-masters-blocks {
    display: flex;
    column-gap: 30px;
}
.masters-blocks-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.masters-blocks-title {
    margin-top: 30px;
    color: var(--black_color);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
}

.masters-blocks-subtitle {
    margin-top: 8px;
    margin-bottom: 30px;
    color: var(--hover_color);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
}
.masters-blocks-social {
    display: flex;
    gap: 10px;
}

.masters-blocks-social-item {
    width: 44px;
    height: 44px;
    background-color: var(--white_color);
    border-radius: 50%;
}

.masters-blocks-social-item.first {
    background-image: url('../img/masters-social-img_1.svg');
}
.masters-blocks-social-item.second {
    background-image: url('../img/masters-social-img_2.svg');
}
.masters-blocks-social-item.third {
    background-image: url('../img/masters-social-img_3.svg');
}
.masters-blocks-social-item.fourth {
    background-image: url('../img/masters-social-img_4.svg');
}

.masters-blocks-social-item.first:hover {
    background-image: url('../img/masters-social-img_hover_1.svg');
}
.masters-blocks-social-item.second:hover {
    background-image: url('../img/masters-social-img_hover_2.svg');
}
.masters-blocks-social-item.third:hover {
    background-image: url('../img/masters-social-img_hover_3.svg');
}
.masters-blocks-social-item.fourth:hover {
    background-image: url('../img/masters-social-img_hover_4.svg');
}


/* SECTION: LATIN */

.section-latin {
}

.section-latin-container {
    padding: 130px 0;
}
.section-latin-span {
    position: relative;
    margin-left: 80px;
    color: var(--black_color);
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}
.section-latin-span::before {
    content: '';
    width: 60px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: -23%;
    background-color: var(--black_color);
}

.section-latin-images {
    margin-top: 44px;
    display: flex;
    column-gap: 30px;
}